body {
   font-family: "LeferiPoint-SpecialA";
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -ms-overflow-style: none;
   scrollbar-width: none;
}
@font-face {
   font-family: "LeferiPoint-SpecialA";
   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialA.woff")
      format("woff");
   font-weight: normal;
   font-style: normal;
}
::-webkit-scrollbar {
   display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
